button {
    margin: 10px;
    padding: 10px;
    vertical-align: top;
}

.container {
    display: grid;
    grid-template-columns: 25% 50% 25% ;
}

.container div {
    text-align: center;
}

.subscribe-button{
    background-color: rgba(211, 22, 22, 0.893);
    transition: opacity 0.2s;     /*To Smoothen the effect of the pseudoclass*/
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
}

/*Decreases Opacity when hovered*/
.subscribe-button:hover {
    opacity: 0.7;
}

/*Decreases Opacity when clicked*/
.subscribe-button:active {
    opacity: 0.4;
}

.join-button {
    transition: background-color 0.2s, color 0.2s; /*To Smoothen the effect of the pseudoclass*/
    border: 1px solid rgb(41, 118, 211);
    color: rgb(41, 118, 211);
    background-color: white;
    font-weight: lighter;
    cursor: pointer;
}

/*Changes text color and background color when hovered*/
.join-button:hover {
    color: white;
    background-color: rgb(41, 118, 211);
}

/*Decreases Opacity when clicked*/
.join-button:active {
    opacity: 0.7;
}

.tweet-button{
    background-color: rgb(2, 158, 255);
    transform: box-shadow 0.2s;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: none;
}

.tweet-button:hover {
    /*Adds Shadow:
     box-shadow: (x,y,blur), rgba "like normal rgb but the fourth(a) is for opacity*/
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.18);  
}

.uber-button{
    background-color: black;
    transition: opacity 0.2s;
    cursor: pointer;
    color: white;
    border: none;
}

.uber-button:hover {
    opacity: 0.8;
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    transition: background-color 0.2s;
    border-radius: 20px;
    font-weight: 550;
    cursor: pointer;
    border: none;
}

.amazon-button:hover {
    background-color: rgb(228, 192, 14)
}

.github-button{
    background-color: rgb(46, 164, 79);
    transition: box-shadow 0.2s;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.github-button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
}

.bootstrap-button1 {
    background-color: rgb(121, 82, 179);
    transition: background-color 0.2s;
    margin-right: 0.6rem;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}

.bootstrap-button1:hover {
    background-color: rgb(109, 70, 168);
}

.bootstrap-button2 {
    border: 2px solid rgba(202, 206, 209, 0.87);
    transition: background-color 0.2s, color 0.2s;
    color: rgb(108, 117, 125);
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 9px;
    cursor: pointer;
}

.bootstrap-button2:hover {
    color: white;
    border-color: transparent;      /* Change border color to transparent on hover */
    background-color: rgb(108, 117, 125);
}

.linkedIn-button1{
    background-color: rgb(10, 102, 194);
    transition: background-color 0.2s;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}

.linkedIn-button1:hover {
    background-color: rgb(10, 83, 156);
}
