button {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    vertical-align: top;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.container div{
    margin: 10px;
}

.container div p{
    margin: 10px 10px 10px 10px;
    
}

.subscribe-button{
    background-color: rgba(211, 22, 22, 0.893);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    border: none;
}

.join-button{
    border: 1px solid rgb(41, 118, 211);
    color: rgb(41, 118, 211);
    background-color: white;
    cursor: pointer;
}

.tweet-button{
    background-color: rgb(2, 158, 255);
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border: none;
}

.uber-button{
    background-color: black;
    cursor: pointer;
    color: white;
    border: none;
}

.amazon-button{
    background-color: rgb(255, 216, 20);
    border-radius: 20px;
    font-weight: 550;
    cursor: pointer;
    border: none;
}

.github-button{
    background-color: rgb(46, 164, 79);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.bootstrap-button1 {
    background-color: rgb(121, 82, 179);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}

.bootstrap-button2 {
    border: 2px solid rgba(202, 206, 209, 0.87);
    color: rgb(108, 117, 125);
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.linkedIn-button1{
    background-color: rgb(10, 102, 194);
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
}

.linkedIn-button2{
    border: 2px solid rgb(10, 102, 194);
    color: rgb(10, 102, 194);
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}